* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

.container {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 170px auto;
    height: 100vh;
}

.top {
    background-color: white;
}

.body {
    background-color: rgb(182, 157, 18);
}

/* sidebar decoration */

.sidebar {
    background-color: #1992D4;
    grid-row: 1/span 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
   
}
.main-icon{
    font-size: 50px;
    
}
.nav-item {
    display: flex;
    color: white;
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: bold;
}
.logo{
    font-size: 23px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
    display: flex;
    margin-right: 10px;
    align-items: center;
}

svg{
    height: 43px;
}
.first-navigation{
    margin-top: 20px;
    margin-bottom: 30px;
}



.material-icons, .material-icons-outlined{
    color: white;
    padding-right: 20px;
}


/* sidebar completed */


/* top bar started */

.top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 30px;
   
}
.first-line{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}


.left-first-line{
    display: flex;
    padding-left: 10px;
    
}

.search-icon{
    height: 25px;
    margin-right: 15px;
}
.search{
    border-radius: 15px;
    height: 25px;
    width: 400px;
    border: 0;
    background-color: rgb(226,232,240);
    padding-left: 10px;
}


.search:focus{
    outline: none;
    border: solid 0.5px rgb(24, 24, 226);
}

.right-first-line{
    display: flex;
    gap: 20px;
    align-items: center;
}
.bell{
    width:25px;
    
}

.profile{
    width: 40px;
    border-radius: 50%;
    border: 0.5px solid orange;
}

.second-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.left-second-line{
    display: flex;
    gap: 20px;
}


.second-profile{
    width: 60px;
    border-radius: 50%;
}
.right-second-line{
    display: flex;
    gap: 20px;
}

.btn{
    width: 90px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(25,146,212);
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: 0;
}




